
    /*
    Colors used

    CSS HEX
    --bright-pink-crayola: #ee4b6aff;
    --pink: #f4b8c3ff;
    --black: #010001ff;
    --flax: #f2e47dff;
    --arylide-yellow: #e6d460ff;
    --mimi-pink: #fed7deff;
    --red-cmyk: #ea261fff;

     CSS HSL
    --bright-pink-crayola: hsla(349, 83%, 61%, 1);
    --pink: hsla(349, 73%, 84%, 1);
    --black: hsla(300, 100%, 0%, 1);
    --flax: hsla(53, 82%, 72%, 1);
    --arylide-yellow: hsla(52, 73%, 64%, 1);
    --mimi-pink: hsla(349, 95%, 92%, 1);
    --red-cmyk: hsla(2, 83%, 52%, 1);

*/
